@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");
@import "./variables";

html {
  background-color: $colorBg;
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-size: 100% auto;
}

body {
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
  margin: 16px 0 8px 0;
}

h1 {
  margin-top: 0px;
}

.main {
  margin: 0 auto;
  padding: 16px;
  background-color: $colorBgMain;
  max-width: 960px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  align-items: center;
  margin: auto;
  width: 100%;
}

.siteTitle {
  font-family: "Signika", sans-serif;
  display: inline-block;
  text-align: left;
  position: relative;
  box-shadow: none;
  font-size: 2rem;
  color: $color2;
  padding: 4px 4px;
}

nav {
  .menu {
    a {
      box-shadow: none;
      color: $colorNavLink;
      cursor: pointer;
      padding: 0px 16px;
      transition: all 0.2s ease-out;

      &:hover {
        background: #333;
      }

      &[aria-current="page"] {
        color: $colorNavLinkActive;
      }
    }
  }
}

@media (min-width: 768px) {
  header #brand-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  header #brand {
    display: none;
  }

  header #brand-mobile {
    margin-top: 4px;
    padding-top: 0;
  }

  nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    // background-image: url("./marvin-ronsdorf-kob3MaCEc68-unsplash.jpg");
    background-size: cover;

    z-index: 1;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;

    a {
      display: block;
      text-align: center;
      padding: 8px 8px;
      font-size: 1em;
      // font-weight: bold;
      text-shadow: #000 8px 8px 12px;
      cursor: pointer;
      color: $color2;
      opacity: 0;
      transition: all 0.3s ease-out;

      &:hover {
        transition: all 0.3s ease-out;
        background: #212121;
        color: #fff;
      }
    }

    &.active {
      visibility: visible;
      opacity: 1;

      a {
        opacity: 1;
      }
    }
  }
}

img.img-wide {
  width: unset !important;
  max-width: 95% !important;
  display: block;
  margin: 16px auto !important;
  border: 2px solid $color1;
}

/*
* HAMBURGER
*/
#hamburger {
  position: absolute;
  right: 10px;
  top: 14px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

#hamburger .line {
  height: 7px;
  background: $color4;
  margin: 5px auto;
  backface-visibility: hidden;
}

#hamburger.active #one {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

#hamburger.active #two {
  opacity: 0;
}

#hamburger.active #three {
  transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

@media (max-width: 768px) {
  #hamburger {
    visibility: visible;
    opacity: 1;
  }
}
